@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Tilt+Warp&display=swap');
.infor_wrapper{
    background: #f8f8f8;
}

.infor_content{
    padding: 40px 0;
}

.infor_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
 .infor_box{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 20px;
    padding: 25px 25px 25px 36px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.infor_box_left{
    
    display: flex;
  
          flex-direction: column;
  width: 60%;
  margin-right: 35px;
}
.infor_box_left_title1 {
    font-size: 38px;
  line-height: 110%;
  font-family: "Tilt Warp";
  letter-spacing: -0.02em;
  color: #1B4E30;

}
.infor_box_left_des {
    font-size: 20px;
    line-height: 100%;
    font-family: "Plus Jakarta Sans";
    color: #666666;
    margin-bottom: 15px;
}
.infor_box_right{
    width: 37%;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}
 .test{
    width: 100%;
    display: flex;
  } .infor_box_right_image{
    display: block;
  width: 100%;
}
 .infor_box_right_image i{
 display: block;
  position: relative;
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
}
.infor_box_right_image img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
   
}