footer {
    background-color: #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 27px;
    color: #af1313;
}
.logo img {
    height: 57px;
    margin-right: 7px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
.order{
    border: 2px solid #af1313;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: #af1313;
    font-weight: 500;
}
.order:hover{
    background-color: #af1313;
    color: white;

}
.infor_restaurant{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infor_detail{
    display: flex;
    flex-direction: column;
    align-content: space-between; 
}
.infor_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infor_social_private{
    color:#af1313;
}
.component{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 400;
}

.component_restaurant{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #af1313;
    font-size: 20px;
    font-weight: 500;
}
.component_restaurant:hover {
    color:#FFA827;
    
}